@font-face {
  font-family: "main-text-font";
  src: url("../fonts/Roboto/RobotoRegular.ttf");
}

@font-face {
  font-family: "header-font";
  src: url("../fonts/Roboto/RobotoLight.ttf");
}

@font-face {
  font-family: "subheader-font";
  src: url("../fonts/Roboto/RobotoMedium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 14px "main-text-font";
  line-height: 1.6;
  transition: background-color 0.2s ease;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 60%;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.switcher-button {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 60px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--switcher-border-color);
  cursor: pointer;
}

.switcher-button:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--switcher-button-color);
  transition: all 0.2s ease;
  transform: translateX(var(--switcher-shift));
  content: "";
}

#switcher-checkbox {
  display: none;
}

.header {
  padding: 20px 0;
  font: bold 30px header-font;
  color: var(--name-color);
  background-color: var(--secondary-theme-color);
}

.header__link {
  text-align: center;
  color: var(--name-color);
}

.header__name {
  font: bold 50px header-font;
  text-align: center;
}

.header__photo {
  display: block;
  margin: 0 auto;
}

.main-content {
  color: var(--main-text-color);
  background-color: var(--secondary-theme-color);
}

.section:last-child .section__content {
  border-color: transparent;
}

.section__header {
  z-index: 1;
  width: 200px;
  padding: 10px 15px;
  font: bold 24px header-font;
  text-align: center;
  color: var(--header-color);
  background-color: var(--main-theme-color);
  border: 2px solid var(--borders-color);
}

.section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px 5% 20px;
  border-color: var(--borders-color);
}

.section__content_left {
  align-items: end;
  width: calc(50% + 2px);
  text-align: right;
  border-right: 2px solid var(--borders-color);
}

.section__content_right {
  align-items: start;
  margin-left: 50%;
  border-left: 2px solid var(--borders-color);
}

.section__content:after {
  position: absolute;
  top: 30px;
  width: 100px;
  height: 2px;
  background-color: var(--borders-color);
  content: "";
}

.section__content_left:after {
  right: 0;
}

.section__content_right:after {
  left: 0;
}

.section__icon {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font: bold 20px font-icons;
  background: var(--icons-bg-color);
  border: 2px solid var(--icons-color);
  border-radius: 50%;
}

.section__icon_right {
  right: 0;
  transform: translateX(calc(50% + 1px));
}

.section__icon_left {
  left: 0;
  transform: translateX(calc(-50% - 1px));
}

.icon {
  height: 30px;
  width: 30px;
  fill: var(--icons-color);
}

.section__description {
  padding: 10px 0;
  max-width: 70%;
}

.section__subheader {
  font: bold 16px subheader-font;
  color: var(--main-text-color);
}

.code-example {
  margin-top: 10px;
  padding: 5px;
  text-align: left;
  color: var(--code-example-color);
  background-color: var(--code-example-bg);
  white-space: pre-wrap;
  overflow: auto;
}

.code-example__keyword {
  color: var(--code-example-keyword);
}

.code-example__variable {
  color: var(--code-example-variable);
}

.code-example__string {
  color: var(--code-example-string);
}

.code-example__number {
  color: var(--code-example-number);
}

.code-example__method {
  color: var(--code-example-method);
}

.footer {
  padding: 25px 0;
  border-top:2px solid var(--borders-color);
  background-color: var(--secondary-theme-color);
}

.section__content_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: var(--footer-icons-color);
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  font: normal 20px font-icons;
}

.rsschool-logo {
  width: 100px;
  height: 40px;
  margin: 20px 0;
  filter: invert(var(--filter-percentage));
}

.footer__year {
  color: var(--main-text-color);
}

@media (max-width: 1024px) {
  .section__content_right {
    padding-right: 10px;
  }

  .section__content_left {
    padding-left: 10px;
  }

  .section__description {
    max-width: 80%;
  }
}

@media (max-width: 740px) {
  .section__content {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
  }

  .section__content_left,
  .section__content_right {
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
  }

  .section__content:before {
    position: absolute;
    top: 76px;
    left: calc(50% - 8px);
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--borders-color);
    transform: rotate(90deg);
    content: "";
  }

  .section__icon_left,
  .section__icon_right {
    position: relative;
    transform: none;
  }

  .section__content_left:after,
  .section__content_right:after {
    display: none;
  }

  .section__header {
    max-width: 70%;
    margin: 15px 0;
  }
  .section__description {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .header {
    padding: 10px 0 20px;
  }

  .switcher-button {
    top: 20px;
    right: 10px;
    width: 40px;
    height: 20px;
    border-radius: 10px;
  }

  .switcher-button:after {
    width: 10px;
    height: 10px;
  }

  .section__content {
    padding: 10px;
  }

  .section__header {
    margin: 10px;
  }

  .section__description {
    max-width: 90%;
    padding: 0;
  }

  .social__links {
    width: 100%;
  }
}
